<footer>    
    <p class="p1">If you have any questions or suggestions, do not hesitate to contact me at 
    <a href="mailto: <%= data.site.supportMail %>"><span class="s1"><%= data.site.supportMail %></span></a></p>
</footer>